<a class="reklam1" href="https://www.rybergs.se/om-oss/">
</a>
<a class="reklam2" href="http://www.polsemannen.se/">
</a>
<a class="reklam3" href="https://www.arla.se/">
</a>
<a class="reklam4" href="http://www.kronleins.se/products/product.asp?id=11&mid=1">
</a>
  <div class="grillbilder">
    <img class="grillen" src="img/grillen1.jpg" alt="">
    <img class="grillen hidden" src="img/grillen2.jpg" alt="">
    <button class="imageswapper1" onclick="swap()"><</button>
    <button class="imageswapper2"  onclick="swap()">></button>
  </div>
  <div class="textblock_grillen">
    <h2>OM GRILLEN</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias, cupiditate qui est, expedita explicabo rem possimus eum molestiae magnam quas quae assumenda distinctio temporibus molestias exercitationem doloremque dignissimos perspiciatis praesentium. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias, cupiditate qui est, expedita explicabo rem possimus eum molestiae magnam quas quae assumenda distinctio temporibus molestias exercitationem doloremque dignissimos perspiciatis praesentium. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias, cupiditate qui est, expedita explicabo rem possimus eum molestiae magnam quas quae assumenda distinctio temporibus molestias exercitationem doloremque dignissimos perspiciatis praesentium.</p>
  </div>
</div>
