<div class="index_img1"></div>
<div class="index_img2"></div>
<div class="textblock">
    <h2>OM SEKTIONEN</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias, cupiditate qui est, expedita explicabo rem possimus eum molestiae magnam quas quae assumenda distinctio temporibus molestias exercitationem doloremque dignissimos perspiciatis praesentium. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias, cupiditate qui est, expedita explicabo rem possimus eum molestiae magnam quas quae assumenda distinctio temporibus molestias exercitationem doloremque dignissimos perspiciatis praesentium. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias, cupiditate qui est, expedita explicabo rem possimus eum molestiae magnam quas quae assumenda distinctio temporibus molestias exercitationem doloremque dignissimos perspiciatis praesentium.</p>
</div>