<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ITG Grillsektion</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image" href="img/grillsektion_favicon.png">
</head>
<body>
    <div class="container">
        <header>
            <img src="img/grillsektion_ikon.svg" alt="ikon">
            <a href="itggrillsektion.html">ITG GRILLSEKTION</a>
            <a href="grillen.html">GRILLEN</a>
            <a href="medlemmar.html">MEDLEMMAR</a>
        </header>
        <main>
            <%= yield %>
        </main>
        <footer>
            <a class="instagram" href="https://www.instagram.com/itggrillsektion/?hl=sv">
                <img class="instagram" src="img/instagram_icon.png" alt="instagram">
            </a>
            <a class="facebook" href="https://www.facebook.com/itggrillsektion/">
                <img class="facebook" src="img/facebook_icon.png" alt="facebook">
            </a>
        </footer>
    </div>
</body>
</html>